.appCard {
  border-radius: 15px;
  background-image: linear-gradient(to top, #7028e4 0%, #6e4b94 100%);
  width: auto;
  height: 75px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 3;
}

.appIcon {
  width: 100px;
  height: 100px;
  align-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;

}

.appIcon:hover {
  width: 120px;
  height: 120px;
  align-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
}


.mainContent {
  background-color: gray;
}



a.tui-text_h1 {
  text-decoration: none;
  font-weight: 400;
}

.app-progress-bar {
  color: black;
  height: 1px;
  background-color: transparent;
  display: flex;
  align-self: center;
  align-items: center;
}