<div  ng-view flex layout-fill class="grid">
  <div tuiCardLarge tuiSurface="elevated" class="simpleCard grid-item" style="background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);">
    <img src="assets/icons/community.svg" class="cardIcon"/>
    <h1 class="tui-text_h3 tui-space_top-0 tui-space_bottom-0 highLightText" style="font-weight: 200;"><b>Engaged community</b>, join this amazing community and share your favorite thoughts.</h1>
  </div>

  <div tuiCardLarge class="simpleCard grid-item" style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);">
    <img src="assets/icons/effect.svg" class="cardIcon"/>
    <h2 class="tui-text_h3 highLightText tui-space_top-0 tui-space_bottom-0"><b>Highly customizable</b>, 
      make your words come true with a lot of styles and customizations.
    </h2>
  </div>

  <div tuiCardLarge class="simpleCard grid-item" style="background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);">
    <img src="assets/icons/rocket.svg" class="cardIcon"/>
    <h2 class="tui-text_h3 highLightText tui-space_top-0 tui-space_bottom-0"><b>Up to date</b>
      using the lastest resources from mobile techs.</h2>
  </div>

  <div tuiCardLarge class="simpleCard grid-item" style="background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);">
    <img src="assets/icons/stars.svg" class="cardIcon"/>
    <h2 class="tui-text_h3 highLightText tui-space_top-0 tui-space_bottom-0"><b>Download today!</b>
     don't miss more of it. Start find your motivation and motivate the world.</h2>
  </div>
    <img src="assets/icons/saturn_and_other_planets.svg" alt="app icon" class="appIcon"/>
</div>