<div class="column fill-viewport" style="margin-top: 40px;" [ngStyle]="background">
  <progress  *ngIf="currentQuote == undefined" max="100" size="xl" class="progress center app-progress-bar" tuiProgressBar></progress>
  <a style="text-decoration: none;" href="https://play.google.com/store/apps/details?id=com.creat.motiv">
    <h1 class="tui-text_h1"
      style=" margin: 10px;  color: black; text-align: center; font-weight: 400; font-size: 80px; font-family: Montserrat;">
      Motiv
    </h1>
    <p class="tui-text_body-s" style="text-align: end; color: #000; opacity: 0.5;">By Ilustris</p>

  </a>



  <quote-card *ngIf="quotes.length > 0" [quote]="currentQuote" [style]="currentStyle" [@fadeIn]="currentIndex"/>

    
</div>