.appCard {
  border-radius: 15px;
  background-image: linear-gradient(to top, #7028e4 0%, #6e4b94 100%);
  width: auto;
  height: 75px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 3;
}

.appIcon {
  width: 100px;
  height: 100px;
  align-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end:2;

}
.cardIcon {
  width: 75px;
  height: 75px;
}
.simpleCard {
  border-radius: 15px;
  padding: 16px;
  margin: 10px;
  background-color: rgba(211, 211, 211, 0.392);
}

.mainContent {
  background-color: gray;
}

.row {
  align-items: center;
  padding: 16px;
  margin: 10px;
  flex-direction: row;
  display: flex;
  width: 100%;
}


.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  flex: auto;
  align-items: center;
  padding: 16px;
  gap: 1px 1px;
  height: 100vh;
  background-color:whitesmoke;

}

.grid-item {
  height: auto;
  width: auto;
}

.highLightText {
 font-weight: 200;
}